<!--<form (ngSubmit)="finalize()" #quizQuestions="ngForm">
  <div id="container">
    <div id="header">
      <div class="doing" *ngIf="working"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>Working...</div>
      <div style="width: 100%">
        <fieldset>
          <legend class="title">Quiz</legend>
          <div class="left-column">
            <label for="name">Question:</label> {{quiz.question }}
          </div>
          <div class="left-column">
            <label for="name">Answer:</label> {{quiz.answer }}
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</form>-->
